.about__container {
  display: flex;
  justify-content: flex-start;
  padding: 80px 104px;
  gap: 56px;
}
.about__image {
  width: 464px;
  height: 464px;
  border-radius: 50%;
}
.about__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
}
.about__info-title {
  max-width: 600px;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin: 52px 0 24px;
}
.about__info-text {
  max-width: 600px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #1a1b22;
  margin: 0;
}
.about__hightlight {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .about__container {
    gap: 32px;
    padding: 61px 40px;
  }

  /* .about__info {
    align-items: flex-start; 
   } */
  .about__info-title {
    margin: 0 0 16px;
    font-size: 30px;
  }
  .about__info-text {
    max-width: 424px;
  }

  .about__image {
    width: 232px;
    height: 232px;
  }
}
