.searchForm {
  font-family: "Roboto Slab", sans-serif;
  color: #fff;
  margin: 0 auto;
  max-width: 608px;
  width: 100%;
}
.searchForm__heading {
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  margin: 0;
  padding-top: 80px;
  margin-bottom: 32px;
}
.searchForm__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 88px;
  margin: 0 auto 88px;
}
.searchForm__container {
  position: relative;
  display: flex;
}
.searchForm__input {
  flex: 1;
  height: 64px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  border-radius: 100px;
  padding: 0 0 0 24px;
}
.searchForm__button {
  position: absolute;
  width: 168px;
  height: 64px;
  font-size: 18px;
  line-height: 24px;
  vertical-align: center;
  font-weight: 500;
  border-radius: 100px;
  top: 0;
  right: 0px;
  border: none;
  background: #2f71e5;
  transition: all 0.3s ease-in-out;
}
.searchForm__button:hover {
  background: #347eff;
}

@media screen and (max-width: 992px) {
  .searchForm {
    width: 452px;
    height: 56px;
  }
  .searchForm__heading {
    max-width: 385px;
    width: 100%;
    font-family: "Roboto Slab", sans-serif;
    font-size: 36px;
    line-height: 40px;
    padding-top: 38px;
    margin: 0 0 16px 0;
  }
  .searchForm__description {
    margin-bottom: 48px;
  }
  .searchForm__input {
    height: 56px;
  }
  .searchForm__button {
    height: 56px;
  }
}
